<div class="container">
  <h2>Employees Detail</h2>
  <div class="d-md-flex">
    <input class="form-control w-md-25 mb-3" placeholder="Search..." />
    <div class="d-flex ms-sm-3 mb-3 flex-row-reverse">
      <button class="btn btn-primary"> <i class="bi bi-plus-lg"></i>
        Add Employee</button>
    </div>
  </div>
  <app-table [headers]="['No.', 'Name', 'Last Name', 'Company', 'Area', 'Department', 'Job Title', 'Actions']" [rows]="users"
    [rowsOrder]="['id', 'name', 'last_name', 'company', 'area', 'department', 'job_title', 'actions']" [actions]="[
      {icon: 'bi bi-pencil-fill', action: 'edit', 'text': 'Edit', 'class': 'btn btn-info me-2 btn-sm text-white rounded-pill'},
      {icon: 'bi bi-trash-fill', action: 'delete', 'text': 'Delete', 'class': 'btn btn-danger me-2 btn-sm rounded-pill'}]">
  </app-table>
</div>