<table class="table">
  <thead>
    <tr>
      <th scope="col" *ngFor="let header of headers">{{header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of rows">
      <td *ngFor="let rowOrder of rowsOrder">
        <ng-container *ngIf="rowOrder != 'actions'">{{row[rowOrder]}}</ng-container>
        <ng-container *ngIf="rowOrder == 'actions'">
          <button *ngFor="let action of actions" class="{{action.class}}" (click)="action.action(row)">
            <i [class]="action.icon"></i> {{action.text}}
          </button>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>